pandas>=2.3.0
numpy>=2.0
scikit-learn>=1.7.0
spacy>=3.8.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl
sentence-transformers
rank-bm25
matplotlib>=3.10.0
seaborn>=0.13.0
jupyter
jupyterlab
ipykernel
load_dotenv
